body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	max-width: 1400px;
	margin: 0px auto;
/*	padding: 0px 50px 0px 50px;*/
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	margin: 0px;
	margin-bottom: 23px;
}

main > section > p {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

main > section > section > div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

main > section + section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}