.search-filter {
	display: flex;
/*	justify-content: space-between;*/
	flex-direction: row;
	align-items: center;
	margin-top: 20px; /* A VERIFIER L'ALIGNEMENT !!!!!!!!!!!!!*/
	width: 100%;
}

.search-filter > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	border: 2px solid #D9D9D9;
	border-radius: 25px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 18px;
	padding-right: 18px;
	margin-left: 40px;
}

.search-filter > div:hover {
	background: #DEEBFF;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog, .fa-info {
  color: #0065FC;
  padding-right: 10px;
}

.fa-info {
	padding-right: 0px;
	border-radius: 50%;
	border: 1px solid #D9D9D9;
	width: 4px;
	height: 10px;
	padding-right: 9px;
	padding-left: 9px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: 11px;
}

.search-filter + div {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
}