main > section > section:nth-child(1) {
	display: flex;
	flex-direction: column;

	background: #F2F2F2;
	border-radius: 20px;
	width: 60%;
	padding-top: 42px;
	padding-left: 3%;
	padding-right: 3%;
	margin-right: 10px;
}

main > section > section:nth-child(2) {
	background: #F2F2F2;
	border-radius: 20px;
	width: 30%;
	padding-top: 41px;
	padding-left: 3%;
	padding-right: 3%;
}

main > section > section:nth-child(2) > div:first-child {
	max-width: 343px;	
}

main > section > section:nth-child(1) > div:last-child {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  display: flex;
  border-radius: 20px;
  background: #FFFFFF;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.card p {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.sponsored p {
	padding-top: 9px;
}

.card > div > div { /*	fa-star*/
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-basis: 100%;
	align-items: flex-end;
}

.hebergements {
	flex-direction: column;
	max-width: 246px;
	width: 32%;
  height: 199px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
}

.sponsored {
	width: 100%;
	max-width: 343px;
  height: 144px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}

.hebergements > img {
	height: 114px;
	width: auto;
	object-fit: cover;
	border: 5px solid #FFFFFF;
	border-radius: 20px 20px 0px 0px;
}

.sponsored > img {
	height: 134px;
	width: 40%;
	object-fit: cover;
	border: 5px solid #FFFFFF;
	border-radius: 20px 0px 0px 20px;
}

.hebergements > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 100%;
	padding-top: 4px;
	padding-left: 16px;
}

.sponsored > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	padding-top: 16px;
	padding-bottom: 12px;
}

.hebergements > div *{
/*	*/
	margin: 0px;
}
.sponsored > div > * {
/*	padding-left: 15px;*/
	margin: 0px;
}

.star-blue {
  color: #0065FC;
}

.star-grey {
  color: #F2F2F2;
}

.fa-chart-line {
  color: #0065FC;
}