@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	max-width: 1400px;
	margin: 0px auto; /* centre le body */
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
}

h2 {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin: 0px;
}


/* header nav + logo */
header > nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-basis: 100%;
	padding-top: 48px;
}

header > nav > img {
	width: 61px;
	height: 19px;
}

header > nav > div > ul {
	display: flex;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

header > nav > div > li {
	display: inline;
}

header > nav > div > ul > li > a {
	color: #000000;
	text-decoration: none;
	padding: 46px 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

header > nav > div > ul > li > a:hover {
	color: #0065FC;
	border-top:2px solid #0065FC;
}
/* header nav + logo */


/* intro + search-form + search-btn */
main > section:nth-child(1) {
		margin-top: 63px;
}

main > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 39px;
}

.search-filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
}

.search-filter > span {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}

.search-filter > div {
	display: flex;
	flex-basis: 100%;
}

.search-filter > div > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	border: 2px solid #D9D9D9;
	border-radius: 25px;
	margin-left: 4%;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	cursor: pointer;
}

.search-filter > div > div:hover {
	background: #DEEBFF;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog, .fa-info {
  color: #0065FC;
  padding-right: 10px;
}

.fa-info {
	padding-right: 0px;
	border-radius: 50%;
	border: 1px solid #D9D9D9;
	width: 4px;
	height: 10px;
	padding-right: 9px;
	padding-left: 9px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: 11px;
}

.search-filter + div {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

main > section > div > form {
	display: flex;
	width: 406px;
}

main > section > div > form > div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #F2F2F2;
	width: 50px;
	height: 49px;
	border-radius: 15px 0px 0px 15px;
}

main > section > div > form > input[type=text] {
	height: 47px;
	width: 208px;
	padding: 0px;
	background: #FFFFFF;
	border: 0px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	padding-left: 16px;
}

main > section > div > form > input[type=text]::placeholder {
	color: #000000;
}

main > section > div > form > button[type=submit] {
	width: 132px;
	height: 49px;
	border: none;
	background-color: #0065FC;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 0px 20px 20px 0px;
	cursor: pointer;
}
main > section > div > form > button[type=submit]::after {
	content: "Rechercher";
}
.loupe {
	display: none;
}
/* fin intro + search-form + search-btn */







main > section > p { /*	AVOIR section avec le changement en div !!!!!*/
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}










/* bloc hebergement et populaires */
main > div > section > div > h2 {
	margin-bottom: 23px;
}

main > div > section > div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

main > div > section:first-child {  /*	bloc hebergement*/
	display: flex;
	flex-direction: column;

	background: #F2F2F2;
	border-radius: 20px;
	width: 60%;
	padding-top: 42px;
	padding-left: 3%;
	padding-right: 3%;
	margin-right: 10px;
}

main > div > section:last-child {  /*	bloc populaire*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #F2F2F2;
	border-radius: 20px;
	width: 30%;
	padding-top: 41px;
	padding-left: 3%;
	padding-right: 3%;
}

main > div > section:last-child > div:first-child {
	width: 100%;
	max-width: 343px;
}

footer > div > div,
main > div > section:nth-child(1) > div:last-child {
	margin-top: 10px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.hebergements {
	flex-direction: column;
	max-width: 246px;
	width: 32%;
/*  height: 199px;*/
	min-height: 199px;
/*	height: min-content;*/
	margin-bottom: 30px;
}

.sponsored {
	width: 100%;
	max-width: 343px;
  height: 144px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}

.hebergements > img {
	height: 114px;
	min-height: 114px; /* fix pour chrome */
	width: auto;
	object-fit: cover;
	border: 5px solid #FFFFFF;
	border-radius: 20px 20px 0px 0px;
}

.sponsored > img {
	height: 134px;
	width: 40%;
	min-width: 40%; /* fix pour chrome */
	object-fit: cover;
	border: 5px solid #FFFFFF;
	border-radius: 20px 0px 0px 20px;
}

.hebergements > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 100%;
	padding-top: 4px;
	padding-left: 16px;
}

.hebergements > div > div:last-child {
	margin-bottom: 7px;
}

.sponsored > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	padding-top: 16px;
	padding-bottom: 12px;
	margin-left: 10px;
	margin-right: 22px;
}

.sponsored > div > div:first-child {
	display: flex;
	flex-direction: column;
	height: 70%;
}

.fa-star {
	height: 12px;
	width: 12px;
}

.sponsored > div > * {
/*	padding-left: 15px;*/
	margin: 0px;
}

.star-blue {
  color: #0065FC;
}

.star-grey {
  color: #F2F2F2;
}

.fa-chart-line {
  color: #0065FC;
}

/* fin bloc hebergement et populaires */

/* card */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  display: flex;
  border-radius: 20px;
  background: #FFFFFF;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	margin: 0px;
	margin-bottom: 5px;
}

.card p {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin: 0px;
}

/* fin card */



/* bloc activites a marseille */
main > section:last-child {
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		margin-bottom: 60px;
}

main > section:last-child > div > h2 {
	margin-bottom: 19px;
}

main > section:last-child > div > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.activites {
	flex-direction: column;
	max-width: 302px;
	width: 23%;
}

.activites > img {
	height: 389px;
	width: auto;
	object-fit: cover;
/*	border: 5px solid #FFFFFF;*/
	border-radius: 20px 20px 0px 0px;
}

.activites > div > h3 {
	margin-top: 20px;
	margin-bottom: 21px;
	padding-left: 19px;
}
/* fin bloc activites a marseille */


/* footer */
footer {
	display: flex;
	justify-content: space-between;
	background: #F2F2F2;
	padding-left: 70px;
}

footer > div {
	width: 33%;
	margin-top: 45px;
}

footer ul {
	display: flex;
	list-style-type: none;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 58px;
	padding-left: 0px;
}

footer li {
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

/* fin footer */



/*	tablette*/
@media all and (min-width: 768px) and (max-width: 991px) {

/* header nav */
header > nav > div > ul > li > a {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

header > nav > div > ul > li > a:hover {
	color: initial;
	border-top: initial;
}
/* fin header nav */


/* intro + search-form + filter-btn */
.search-filter > div {
	justify-content: space-around;
}

.search-filter > div > div {
	margin-left: initial;
	padding-left: 9px;
	padding-right: 9px;
}

main > section:first-child {
	margin-top: 58px;
}
/* fin intro + search-form + filter-btn */


/* bloc hebergement et les plus populaires */
main > div {  /* bloc hebergement et populaire */
	flex-direction: column;
}

main > div > section:first-child {
	width: auto;
	margin-right: 0px;
	padding-bottom: 46px;
}

main > div > section:last-child {
		margin-top: 53px;
		width: auto;
		padding-top: 34px;
}

main > div > section:last-child > div:first-child {
	flex-wrap: nowrap;
	max-width: initial;
	width: 100%;
}

main > div > section:last-child > div:last-child {
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.sponsored {
	width: 32%;
	max-width: 252px;
	margin-right: initial;
	margin-left: initial;
}

.sponsored > div {
	margin-left: 4px;
	margin-right: 4px;
}

.sponsored h3 {
	font-size: 15px;
}
/* fin bloc hebergement et les plus populaires */

/* bloc activites a marseille */
main > section:last-child {
	margin-top: 70px;
	margin-bottom: 69px;
}

main > section:last-child > div > h2 {
	margin-bottom: 34px;
}

.activites {
	max-width: 182px;
}

.activites > img {
	height: 211px;
}
/* fin bloc activites a marseille */


/* footer */
footer {
	padding-left: 9%;
}

footer > div {
	width: 30%;
}
/* fin footer */


} /*fin tablette*/




/*	mobile*/
@media all and (max-width: 767px) {

body {
	padding-left: 0px;
	padding-right: 0px;
}

/* hearder nav + logo */
header > nav {
	flex-direction: column;
	padding-top: 21px;
}

header > nav > div {
	width: 100%;
	margin-top: 49px;
}

header > nav > div > ul {
	border-bottom: 2px solid #F2F2F2;
}

header > nav > div > ul > li {
	width: 50%;
}

header > nav > div > ul > li > a {
	display: flex;
	justify-content: center;
	padding: initial;
	margin-bottom: 23px;
}

header > nav > div > ul > li > a:hover {
	border: initial;
	border-bottom: 2px solid #0065FC;
	margin-bottom: 0px;
	padding-bottom: 21px;
}
/* fin hearder nav + logo */


/* intro + search-form + filter-btn */
main > section > div > form {
	width: initial;
}

.loupe {
	display: inline;
}

main > section:first-child {
	padding-left: 20px;
	padding-right: 22px;
}

main > section > div > form > div {
	min-width: 50px;
}

main > section > div > form > input[type="text"] {
	width: 100%;
	max-width: 208px;
}

main > section > div > form > button[type="submit"] {
	width: 49px;
}

main > section > div > form > button[type="submit"]::after {
	content: initial;
}

.search-filter {
	flex-direction: column;
	align-items: flex-start;
}

.search-filter > div {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	height: 117px;
	width: 100%;
	margin-top: 15px;
}

.search-filter + div {
	margin-top: 23px;  /*	40px - 17px utiliser dans filter-btn*/
	margin-bottom: 17px;
}

.search-filter > div > div {
	width: 40%;
	margin-left: initial;
	margin-bottom: 17px;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
}
/* fin intro + search-form + filter-btn */


/* bloc hebergement et les plus populaires */
main > div {
	flex-direction: column-reverse;
	width: 100%;
}

main > div > section:first-child { /*bloc hebergement*/
	align-items: center;
	width: 100%;
	padding: initial;
	border-radius: initial;
	background: initial;
	padding-top: 26px;
	padding-bottom: calc(47px - 30px);
}

main > div > section:first-child > div:first-child {
	width: 90%;
	max-width: 550px;
}

main > div > section:first-child > div:nth-child(2) {
	flex-direction: column;
	align-items: center;
	width: 90%;
}

main > div > section:first-child > div:last-child {
display: none;
}

.hebergements {
	width: 100%;
	max-width: 550px;
}

.hebergements > div > div:last-child {
	margin-bottom: initial;
	margin-top: 5px;
}
/*fin bloc hebergement*/
/*///////////////////*/
/*bloc populaire*/
main > div > section:last-child {
	width: 100%;
	padding: initial;
	border-radius: initial;
	padding-top: 28px;
	padding-bottom: calc(47px - 33px);
}

main > div > section:last-child > div:first-child {
	width: 90%;
	max-width: 550px;
}

main > div > section:last-child > div:last-child {
	flex-direction: column;
/*	justify-content: center;*/
	width: 90%;
}

.sponsored {
	max-width: 550px;
}
/*fin bloc populaire*/
/* fin bloc hebergement et les plus populaires */


/* bloc activites a marseil */

main > section:last-child {
	margin-bottom: calc(80px - 24px);
	margin-left: 19px;
	margin-right: 22px;
}

main > section:last-child > div > div {
	flex-direction: column;
}

.activites {
	max-width: initial;
	width: 100%;
	margin-bottom: 24px;
}

.activites > img {
	height: 134px;
}

/* fin bloc activites a marseil */

/* footer */
footer {
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 30px;
	padding-top: 45px;
}

footer > div {
	width: initial;
	margin-top: initial;
}

footer ul {
	margin-bottom: 40px;
}
/* fin footer */


} /*fin mobile*/
